*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #dbddf1;
	
}
.gallery{
	padding: 80px 0px;
}
img{
	max-width: 100%;
}

.gallery img{
	background: #fff;
	padding: 15px;
	width: 100%;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
	cursor: pointer;
	border-radius: 10px;
	overflow: hidden;
	border: 2px solid rosybrown;
}

/* .gallery img {
    transition: 0.4s all;
}

.gallery:hover img {
    transform: scale(1.1);
} */

#gallery-popup .modal-img{
	width: 100%;
}

.malik h1 {
	text-align: center;
	padding: 2rem;
	font-weight: bold;
}

.malik h1 {
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

